atomicwrites==1.2.1
attrs==18.2.0
colorama==0.4.0
more-itertools==4.3.0
Pint==0.8.1
pluggy==0.8.0
py==1.7.0
pyfrc==2018.4.3
pynetconsole==2.0.2
pynetworktables==2018.2.0
pytest==3.10.0
robotpy-ctre==2018.3.1
robotpy-hal-base==2018.1.6
robotpy-hal-sim==2018.1.6
robotpy-installer==2018.0.5
robotpy-wpilib-utilities==2018.1.4
six==1.11.0
wpilib==2018.1.6
